<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home template</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae esse aperiam, nostrum modi accusamus voluptas nam magni. Nostrum, at voluptas. Aliquam nulla doloremque provident exercitationem, quibusdam tempore tempora ut amet.
    Omnis blanditiis quasi atque adipisci nostrum harum voluptatum voluptatibus itaque. Cumque perferendis accusantium rerum, eaque culpa assumenda quis eligendi provident. Temporibus mollitia consectetur unde nemo eaque non corporis, officia quaerat.
    Dignissimos deserunt, aut minus omnis consequatur pariatur impedit ea sit, voluptates itaque doloremque doloribus, nobis molestias adipisci recusandae incidunt. Omnis quis qui excepturi eius quisquam incidunt modi ad at nobis?</p>
</body>
</html>