<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit the caption only</title>
</head>
<body>
     <p>user id: <%= post.id %></p>
     <p>user name: <%= post.id %></p>
    <form method="post" action="">
        <input value = "<%= post.caption %>" name="caption">  <!--have to write input value-->
        <button>update</button>
    </form>
</body>
</html>